.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 400px;
}

h2 {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.auth-button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-button:hover {
    background-color: #333;
}

.register-link a {
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}


