.product {
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    height: 100%;
}

.product h3 {
    margin-top: 5px;
    color: #333;
    font-size: 16px;
}

.product img {
    width: 105px;
    height: 105px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.product p {
    height: 40px;
    color: #666;
    line-height: 1.5;
    font-size: 14px;
}

.product .product-price {
    color: #e53e3e;
    font-weight: bold;
    height: 15px;
    margin-top: 15px;
}

.addToCartBtn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding: 5px 10px;
    border-radius: 15px;
    height: 30px;
}

.addToCartBtn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
}