.product {
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}


.product h3 {
    margin-top: 0;
    color: #333;
    font-size: 20px;
}

.product img {
    width: 105px;
    height: 105px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.product p {
    color: #666;
    line-height: 1.5;
    font-size: 14px;
}

.product .product-price {
    color: #e53e3e;
    font-weight: bold;
    margin-top: 10px;
}

.addToCartBtn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding: 5px 10px;
    border-radius: 15px;
}

.addToCartBtn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
}