.navbar {
    width: 100%;
    height: 90px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
}

.navbar-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    text-decoration: none;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: white;
    font-weight: bold;
    padding: 0 20px;
}

.links {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
}

.search-form {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.search-form .search-input {
    padding: 8px 12px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
}

.search-form button {
    padding: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-form svg {
    color: white;
}

span {
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.categories {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    height: 50px;
    line-height: 1.5;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.categories::-webkit-scrollbar {
    display: none;
}

.category-link {
    background-color: transparent;
    border: none;
    margin: 0 5px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    display: inline;
}

.category-link:hover, .category-link:focus {
    color: #ccc;
    outline: none;
}
